.container
  %h1 New message
  = form_for @message do |f|
    = f.hidden_field :sender, :value => current_user.email
    %br/
    %h4 Enter receiver's email
    = f.text_field :receiver
    %br/
    %br/
    = f.label :subject
    %br/
    = f.text_field :subject
    %br/
    %br/
    = f.label :body
    %br/
    = f.text_area :body
    %br/
    %br/
    = f.button :submit, :class => "btn btn-success"
